* {
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  box-sizing: border-box;
}

.nav-bar ol {
  list-style-type: none;
}

.nav-square-left {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text-menu {
  background-color: #283618;
  width: 300px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.nav-navigation {
  background-color: beige;
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-text-contact {
  color: #283618;
  font-family: "Times New Roman", Times, serif;
  font-size: 5ch;
}

.icon {
  height: 70%;
  padding: 15px;
}

.nav-divider {
  border-left: 3px solid black;
  margin-left: 20px;
}

.section-header-h1 {
  align-items: center;
  background-color: beige;
  color: #606c38;
  display: flex;
  font-size: 30px;
  height: 100px;
  justify-content: center;
  margin: 80px auto;
  padding: auto;
  text-align: center;
  width: 90%;
}

.section-header-stardiv {
  align-items: center;
  background-color: beige;
  display: flex;
  height: 20px;
  padding: 5px 0px 10px;
}

.section-header-stars {
  height: 30px;
  border-bottom: 2px #283618;
  display: flex;
  padding-top: 10px;
}

.section-hotel {
  align-items: center;
  background-color: red;
  display: flex;
  height: 150px;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
  width: 40%;
}

.article-hotel {
  align-items: center;
  background-color: beige;
  display: flex;
  text-align: center;
  margin: -20px auto;
  width: 40%;
  height: 550px;
}

.section-hotel-image {
  width: 50%;
  align-items: center;
  padding: 15px;
  margin: 20px 0px;
}

.section-hotel-desc {
  display: grid;
  grid-template-columns: 1fr;
}

.section-hotel-text {
  text-align: left;
  border-bottom: 2px solid darkgreen;
  width: 90%;
  padding: 10px 2px 15px;
  margin: 0;
}

.section-hotel-price {
  border-bottom: 2px solid darkgreen;
  padding: 8px 1px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 60px;
}

.section-hotel-price button,
.section-hotel-price h3 {
  border-radius: 20px;
  margin: auto 15px;
  padding: auto;
  font-size: 18px;
}

.section-hotel-price button:active {
  transform: translateY(2px);
}

.section-hotel-price button {
  background-color: darkgreen;
  color: white;
  padding: 9px 15px;
}
.section-hotel-price button:hover {
  background-color: red;
}

.section-hotel-tiny {
  width: 110px;
  text-align: left;
  border-bottom: 2px solid darkgreen;
  padding: 10px 2px 15px;
  margin: 0;
}

.article-hotel {
  margin-bottom: 150px;
}

.footer {
  background-image: url("images/beach.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  justify-content: space-around;
  display: flex;
  max-height: none;
  align-items: center;
  width: 100%;
  margin-top: 150px;
  background-position-y: 50%;
}

.footer-links {
  color: #003566;
  display: flex;
  text-align: center;
  font-size: 60px;
  font-style: oblique;
  text-shadow: rgb(18, 3, 218) 1px 0 5px;
}

.footer-links:hover {
  color: red;
  text-shadow: rgb(84, 16, 16) 1px 0 10px;
}

.section-links {
  color: #606c38;
  text-decoration: none;
}

.section-links:hover {
  color: #ecf39e;
}
