* {
  outline: solid red 1px;
}

.nav-bar ol {
  list-style-type: none;
}

.nav-square-left {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text-menu {
  background-color: #283618;
  width: 300px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.nav-navigation {
  background-color: beige;
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-text-contact {
  color: #283618;
  font-family: "Times New Roman", Times, serif;
  font-size: 5ch;
}

.icon {
  height: 70%;
  padding: 15px;
}

.nav-divider {
  border-left: 3px solid black;
  margin-left: 20px;
}

.section-header-h1 {
  align-items: center;
  background-color: beige;
  color: #606c38;
  display: flex;
  font-size: 30px;
  height: 100px;
  justify-content: center;
  margin: 80px auto;
  padding: auto;
  text-align: center;
  width: 90%;
}

/* where it gets crazy */
.section-museum {
  background-color: #606c38;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.logo-holder {
  position: relative;
  margin: 20px;
}

.logo-holder,
.smlimg1,
.sml-img2,
.logo-holder .text {
  transition: opacity 0.5s ease-in-out;
}

.logo-holder .text {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.logo-holder:hover .sml-img1 .sml-img2 {
  opacity: 0;
}
.logo-holder:hover .text {
  opacity: 1;
}

.figure-sml-img-columns {
  margin: 14px;
}

.text {
  font-size: 20px;
  bottom: 0;
  text-align: right;
  opacity: 0;
  color: blue;
  background-color: white;
}
